<!-- wp:template-part {"slug":"header","theme":"space-exploration","tagName":"header","className":"custom-home-header"} /-->

<!-- wp:pattern {"slug":"space-exploration/banner"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0px;margin-bottom:0px"><!-- wp:pattern {"slug":"space-exploration/gallery-section"} /--></main>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"space-exploration/about-section"} /-->

<!-- wp:pattern {"slug":"space-exploration/testimonial"} /-->

<!-- wp:pattern {"slug":"space-exploration/faq-section"} /-->

<!-- wp:pattern {"slug":"space-exploration/latest-news"} /-->

<!-- wp:template-part {"slug":"footer","theme":"space-exploration","tagName":"footer","className":"custom-footer-class"} /-->